*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: lightslategray;
}

h1 {
  color:aquamarine;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 48px;
}

.container {
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
  
.display {
  flex: auto;
  height: 100px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
}

.display > .previous,
.display > .answer {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 7px;
}

.display > .answer {
  font-size: 32px;
  margin-bottom: 15px;
}
  
.buttons {
  flex: auto;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  
}

.calc-button {
  height: 72px;
  width: 104px;
  flex: auto;
  transition: all 0.2s ease;
}

.calc-button:hover {
  opacity: 0.8;
}

button[value="C"],
button[value="+"],
button[value="-"],
button[value="*"],
button[value="/"] {
  background-color: lightseagreen;
  
}

button[value="AC"],
button[value="="] {
  background-color: lightpink;

}