*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

h1 {
  color: red;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  height: 600px;
  width: 492px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
  
.display {
  flex: 3 3 auto;
  display: flex;
}
  
.buttons {
  flex: 2 2 auto;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  display: flex;
  gap: 15px;
}

.calc-button {
  height: 72px;
  width: 104px;
  flex: auto;
}